## TOPIC: String Based Assignment Problem

### 1. Write a program to reverse a string.

In [33]:
s= 'Good morning!'

reverse_s=s[::-1] #reversing the string using backward indexing
print(reverse_s)

!gninrom dooG

### 2. Check if a string is a palindrome.

In [35]:
s= 'Wow'
string=s.lower() #making all characters lower to check perfectly

#removing spaces and punctuation
string = ' '.join( i for i in string if i.isalnum())

if(string==string[::-1]): #reversing the string using backward indexing 
    print("string is palindrome")
else:
    print("string is not palindrome")

string is palindrome

### 3. Convert a string to uppercase.

In [36]:
str = 'Hello , Good moRNING!'
uppercase_str = str.upper() #str.upper() function makes all character of a string to uppercase

print(uppercase_str)

HELLO , GOOD MORNING!

### 4. Convert a string to lowercase.

In [37]:
str = 'Hello , Good moRNING!'
lowercase_str = str.lower() #str.lower() function makes all character of a string to lovercase

print(lowercase_str)

hello , good morning!

### 5. Count the number of vowels in a string.

In [1]:
s = str(input("Enter a sentence : "))
v_count =0 #for counting vowels

for i in s :
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U'):
        v_count += 1 #increases the V-count value by 1, whenever previous condition fulfilled
    
print('Numbers of vowels in this sentence is :', v_count)

Numbers of vowels in this sentence is : 3

### 6. Count the number of consonants in a string.

In [2]:
s = str(input("Enter a sentence : "))
v_count =0 #for counting consonants

for i in s :
    if(i != 'a' and i!='e' and i!='i' and i!='o' and i!='u' and i!='A' and i!='E' and i!='I' and i!='O' and i!='U' and i!=' ' and ord(i) >= 65 and ord(i)<=122):
            #ord(i) >= 65 and ord(i)<=122 makes sure that it only counts the consonants and not any special characters
            #65 is ASCII value of A, and 122is ASCII value of z.
        v_count += 1   #increases the V-count value by 1, whenever previous condition fulfilled
    
print('Numbers of consonants in this sentence is :', v_count)

Numbers of consonants in this sentence is : 5

### 7. Remove all whitespaces from a string.

In [3]:
str= "Hello PWSkills X INeuron!"

str2=str.replace(' ','') #replacing every whitespace with nothing to remove the spaces
print(str2)

HelloPWSkillsXINeuron!

### 8. Find the length of a string without using the `len()` function.

In [4]:
str = 'Subhodip Ghosh'
length=0

for i in str:
    length += 1 #increasing value by 1 for each characters

print('Length of the string is : ',length)

Length of the string is :  14

### 9. Check if a string contains a specific word.

In [5]:
s= input('Enter a string : ')
string = s.lower() #if you want that case sensitivity doesn't create any issue

w = input('Enter your word : ')
word= w.lower() #if you want that case sensitivity doesn't create any issue

if word in string :    #checking the word in the string
    print('Yes, it contains.')
else:
    print("No, it does't contains")

Yes, it contains.

### 10. Replace a word in a string with another word.

In [6]:
string = 'Emilia Clarke is my crush'
print('Before replace : ',string)

r_string=string.replace("my","everyone's") #replacing 'my' with "everyone's"
print('After replace : ',r_string)

Before replace :  Emilia Clarke is my crush
After replace :  Emilia Clarke is everyone's crush

### 11. Count the occurrences of a word in a string.

In [9]:
s= 'This is is is is Is iS IS Subh.'
string=s.lower() #if you want that case sensitivity doesn't create any issue

w='is'
word= w.lower() #if you want that case sensitivity doesn't create any issue

print(string.count(word)) #count() , counts 'word' in 'string' and prints the number of occurrences

8

### 12. Find the first occurrence of a word in a string.

In [10]:
s='her name is Riya, who is also known as Rai.'
string=s.lower() #if you want that case sensitivity doesn't create any issue
w='is'
word= w.lower() #if you want that case sensitivity doesn't create any issue

print('The first occurrence of "',word,'" is at index: ', string.find(word)) #find(), finds the first occurrence of the word from the string and prints the index

The first occurrence of " is " is at index:  9

### 13. Find the last occurrence of a word in a string.

In [11]:
s='her name is Riya, who is also known as Rai.'
#if you want that case sensitivity doesn't create any issue
string=s.lower() 

w='is'
#if you want that case sensitivity doesn't create any issue
word= w.lower()

#rfind(), finds the last occurrence of the word from the string and prints the index  
print('The last occurrence of "',word,'" is at index: ', string.rfind(word))

The last occurrence of " is " is at index:  22

### 14. Split a string into a list of words.

In [12]:
string= "hello, good morning!"

#string.split(' '), splits the string whenever a ' ' occurs
str_list = list(string.split(' '))
print(str_list)

['hello,', 'good', 'morning!']

### 15.Join a list of words into a string.

In [13]:
list = ['this','is','a','pwskills','course']

string = ''

#this for loop will add every words of the list to a string
for i in list:  
    string =string + i + ' '

print(string)

#or we can simply use this join() function
#print(' '.join(list))

this is a pwskills course

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [14]:
string1 = 'hello this is subh'
print('Before converting : ',string1)

#replacing ' ' by "_"
string2=string1.replace(' ','_') 
print('After converting : ',string2)

Before converting :  hello this is subh
After converting :  hello_this_is_subh

17. Check if a string starts with a specific word or phrase.

In [4]:
string= 'hello sir, how are you?'

start='hello sir'

#startswith() method checks if a string starts with a specific word or phrase
if(string.startswith(start)):
    print("yes")
else:
    print('no')

yes

18.Check if a string ends with a specific word or phrase.

In [9]:
string= 'hello sir, how are you?'

end='you?'

#endswith() method checks if a string ends with a specific word or phrase
if(string.endswith(end)):
    print("yes")
else:
    print('no')

yes

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [8]:
string='good night'
print('actual string: ',string)

print("Title case string: ",string.title())

actual string:  good night
Title case string:  Good Night

20. Find the longest word in a string.

In [17]:
string='I want to be a Data Science Engineer'
l1=string.split()

#max(), finds the maximum value in base of length,from the list l1
longest= max(l1,key=len)
print('Longest word is : ',longest)

Longest word is :  Engineer

21. Find the shortest word in a string.

In [19]:
string='I want to be a Data Science Engineer'
l1=string.split()

#min(), finds the minimum value in base of length,from the list l1
shortest= min(l1,key=len)
print('shortest word is : ',shortest)

shortest word is :  I

22. Reverse the order of words in a string.

In [20]:
string='I am subh'

#splitting the string by ' '
words=string.split(' ') 
rev_str=[]

#inserting every words to another list,rev_str from list- "words"
for word in words:
    rev_str.insert(0,word) #'''['I']
                           #    ['am', 'I']
                           #    ['subh', 'am', 'I']'''
                                
#joining the list elements by a ' '
print(' '.join(rev_str))

subh am I

23. Check if a string is alphanumeric.

In [27]:
string='Abc123@$'
string2='Abc123'

#isalnum() checks if a string is alphanumeric or not
print(string.isalnum())
print(string2.isalnum())

False
True

24. Extract all digits from a string.

In [9]:
string='Subhodip37239'

for i in string:
    if(i>='0') and (i<='9'):
        print(i,end=' ')

3 7 2 3 9

25. Extract all alphabets from a string.

In [8]:
string='Subhodip37239'

for i in string:
    #ord(i) retusrns the ASCII values
    if(ord(i)>=65) and (ord(i)<=122):
        print(i,end=' ')

S u b h o d i p

26. Count the number of uppercase letters in a string.

In [11]:
string='STYLISH Man'
count=0

for i in string:
    #ord(i) retusrns the ASCII values
    if(ord(i)>=65) and (ord(i)<=90):
        count+=1
print(count)

8

27. Count the number of lowercase letters in a string.

In [12]:
string='STYLISH Man'
count=0

for i in string:
    #ord(i) retusrns the ASCII values
    if(ord(i)>=97) and (ord(i)<=122):
        count+=1
print(count)

2

28. Swap the case of each character in a string.

In [25]:
string='STYLISH Man'
new=''
for i in string:
    #ord(i) retusrns the ASCII values
    if(ord(i)>=97) and (ord(i)<=122):
        print(i.upper(),end='')
        
    elif(ord(i)>=65) and (ord(i)<=90):
        print(i.lower(),end='')
        
    else:
        print(i,end='')

stylish mAN

29. Remove a specific word from a string.

In [47]:
string='Sid is a genius and popular man'
words=string.split(' ')#making a list of words

w='and'

for word in words:
    if(word!=w):
        print(word,end=' ')
    else:
        word.replace(word,'')#replacing the word with nothing

Sid is a genius popular man

30. Check if a string is a valid email address.

In [3]:
import re  #importing regular expression module
  
def validate_email(email):  
    #matches the email with conditions of a valid email.
    if re.match(r"[^@]+@[^@]+\.[^@]+", email):  
        return True  
    return False  
  
email = "example@domain.com"  
email2 = "invalid_email"
print(validate_email(email))
print(validate_email(email2))

True
False

31. Extract the username from an email address string.

In [5]:
def extract_username(email):
    username = email.split('@')[0]  # Splitting the email at "@" and taking the first part
    return username

email1 = "subhodip@email.com"
email2 = "yash5473@email.com"

print(extract_username(email1))
print(extract_username(email2))

subhodip
yash5473

32. Extract the domain name from an email address string.

In [7]:
def extract_domain_name(email):
    domain_name = email.split('@')[1]  # Splitting the email address at "@" and taking the second part
    return domain_name

email1 = "subhodip@email.com"
email2 = "yash5473@yahoo.com"

print(extract_domain_name(email1))
print(extract_domain_name(email2))

email.com
yahoo.com

33. Replace multiple spaces in a string with a single space.

In [10]:
def replace(string):
    new_string = ' '.join(string.split())  # Splitting the string at spaces and then joining using a single space
    return new_string

string = "Hello     my   name     is     subhodip"
print(replace(string))

Hello my name is subhodip

34. Check if a string is a valid URL.

In [4]:
from urllib.parse import urlparse

def is_valid_URL(URL):
    try:
        r = urlparse(URL)
        return all([r.scheme, r.netloc])  # Checkimg if both scheme and netloc are present or not
    except ValueError:
        return False

# Example URLs
URL1 = "https://www.GOOGLE.com"
URL2 = "dhidfb.com"
r1 = is_valid_URL(URL1)
r2 = is_valid_URL(URL2)
print(r1)  
print(r2)

True
False

35. Extract the protocol (http or https) from a URL string.

In [5]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36. Find the frequency of each character in a string.

In [11]:
def character_frequency(string):
    frequency = {}

    for char in string:
        if char in frequency:
            frequency[char] += 1  # Increments the frequency count if the character is already in the dictionary
        else:
            frequency[char] = 1   # Initializes the frequency count to 1 if the character is not in the dictionary

    return frequency


input_str = input("Enter a string: ")

# Calculate character frequencies
char_freq = character_frequency(input_str)

# Print character frequencies
for char, freq in char_freq.items():
    print("Character:" ,char, 'Frequency is :', freq)

Enter a string: hello world, how are you
Character: h Frequency is : 2
Character: e Frequency is : 2
Character: l Frequency is : 3
Character: o Frequency is : 4
Character:   Frequency is : 4
Character: w Frequency is : 2
Character: r Frequency is : 2
Character: d Frequency is : 1
Character: , Frequency is : 1
Character: a Frequency is : 1
Character: y Frequency is : 1
Character: u Frequency is : 1

37. Remove all punctuation from a string.

In [12]:
import string

def remove_punctuation(input_string):
    # Create a translation table to remove punctuation
    translator = str.maketrans("", "", string.punctuation)

    # Use the translation table to remove punctuation from the input string
    clean_string = input_string.translate(translator)

    return clean_string

# Example string with punctuation
input_str = input('Enter a string:')

# Remove punctuation
cleaned_str = remove_punctuation(input_str)

# Print the cleaned string
print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Enter a string:hello world, how are you?
Original string: hello world, how are you?
Cleaned string: hello world how are you

38. Check if a string contains only digits.

In [15]:
def contains_only_digits(input_string):
    return input_string.isdigit() # Check if all characters in the string are digits

# Example strings
string1 = "49843834"
string2 = "subho387"
string3 = "4545632.78923"

# Check if strings contain only digits
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

# Print the results
print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'49843834' contains only digits: True
'subho387' contains only digits: False
'4545632.78923' contains only digits: False

39. Check if a string contains only alphabets.

In [16]:
def contains_only_alphabets(input_string):
    # Check if all characters in the string are alphabetic
    return input_string.isalpha()

# Example strings
string1 = "HelloWorld"
string2 = "subho387"
string3 = "1249843834345"

# Check if strings contain only alphabets
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

# Print the results
print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'HelloWorld' contains only alphabets: True
'subho387' contains only alphabets: False
'1249843834345' contains only alphabets: False

40. Convert a string to a list of characters.

In [17]:
def string_to_list(input_string):
    #typecasting to a list
    char_list = list(input_string)
    return char_list

input_str = "Hello, world!"
print("Original string:", input_str)

# Convert the string to a list of characters
char_list = string_to_list(input_str)

# Print the list of characters
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [18]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

42. Encode a string using a Caesar cipher.

In [19]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

43. Decode a Caesar cipher encoded string.

In [20]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

 44. Find the most frequent word in a string.

In [24]:
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]
    return most_common_word


# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

45. Find all unique words in a string.

In [14]:
string='Hello guys Good morning! hello Guys Good Evening'

#making every words lower
cleaned_string=string.lower()

#making a list out of it by removing spaces
words_list=cleaned_string.split(" ")

#transforming it into a set. sets don't store any copies, so every word in that set will be unique
unique_words = set(words_list)
print(unique_words)

{'guys', 'hello', 'evening', 'good', 'morning!'}

 46. Count the number of syllables in a string.

In [1]:
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

 47. Check if a string contains any special characters.

In [18]:
import re

def special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test string."
string3 = "@Character$$$$$$"

# Check if strings contain special characters
result1 = special_characters(string1)
result2 = special_characters(string2)
result3 = special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test string.' contains special characters: True
'@Character$$$$$$' contains special characters: True

48. Remove the nth word from a string.

In [10]:
def remove_word(string, n):
    words= string.split(' ') 
    
    #checking the input index is in range or not
    if n>=1 and n<=len(words):
        #removing the word
        popping_word= words.pop(n-1)
        
        #creating a new string by joining the words 
        words_string = ' '.join(words)
        
        #returning the new string and the removed word
        return words_string, popping_word
        
    else:
        return None,None
        
string= "Hello my name is Subhodip Ghosh"
n=int(input('Enter the index :'))
print('The string is :',string)

new_string, removed_word = remove_word(string,n)

#if the remove_word function returs some values it will print these
if  new_string != None:
    print('new string :', new_string)
    print('removed word :', removed_word)
else:
    print('input is out of range')

The string is : Hello my name is Subhodip Ghosh
new string : Hello my name is Ghosh
removed word : Subhodip

49. Insert a word at the nth position in a string.

In [9]:
def insert_word(string,new_word, n):
    
    #string to list
    words= string.split(' ')
    
    #checking the input index is in range or not
    if n>=1 and n<=len(words):
        #inserting the word
        words.insert(n-1,new_word)
        
        #creating a new string by joining the words 
        words_string = ' '.join(words)
        #returning the new string 
        return words_string
        
    else:
        return None
        
string= "Hello my name is Subhodip Ghosh"
n=int(input('Enter the index :'))

new_word= input('Enter your word ')

new_string = insert_word(string,new_word,n)
print('The old string is :',string)

if  new_string != None:
    print('The new string is :', new_string)
else:
    print('input is out of range')

The old string is : Hello my name is Subhodip Ghosh
The new string is : Hello my name is S Subhodip Ghosh

50. Convert a CSV string to a list of lists.

In [66]:
def csv_to_list(string):
    #splits the string into level 1 list
    tags = string.split('\n')
    
    #empty list to store final output
    result=[]
    
    for tag in tags:
    #splits the string into level 2 list
        values = tag.split(',')
        
        #adds the values as a lsit element in result list
        result.append(values)
    
    return result
    
    
string= "Name, roll number, marks\nSubho, 10, 56\n archi, 7, 67"
list_of_lists=csv_to_list(string)

for row in list_of_lists:
    print(row)

['Name', ' roll number', ' marks']
['Subho', ' 10', ' 56']
[' archi', ' 7', ' 67']

## List based practice problem :

### 1. Create a list with integers from 1 to 10.

In [69]:
list_int=[i for i in range(1,11)]
print(list_int)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [27]:
def list_len(List):
    count = 0
    for i in List:
        count+=1
    return count

List = [1,2,3,4,5,6]
L = list_len(List)
print('Length of list is :',L)

Length of list is : 6

### 3. Append an element to the end of a list.

In [33]:
List = [1,2,3,4,5,6]
e= int(input('enter an element:'))
List.append(e)
print('new list:',List)

new list: [1, 2, 3, 4, 5, 6, 7]

### 4. Insert an element at a specific index in a list.

In [50]:
List = [1,2,3,4,5,6]
index = int(input('Enter the index:'))
element = int(input('Enter the element:'))

print('List :' ,List)
List.insert(index,element)
print('new list:',List)

List : [1, 2, 3, 4, 5, 6]
new list: [1, 2, 3, 4, 5, 6, 7]

### 5. Remove an element from a list by its value.

In [48]:
List = [1,2,3,4,5,6]
element = int(input('Choose the element between 1,2,3,4,5,6 :'))
print('List :' ,List)
List.remove(element)
print('new list:',List)

List : [1, 2, 3, 4, 5, 6]
new list: [1, 2, 3, 4, 5]

### 6. Remove an element from a list by its index.

In [52]:
List = [1,2,3,4,5,6]
index = int(input('Enter the index:'))
print('List :' ,List)
List.pop(index)
print('new list:',List)

List : [1, 2, 3, 4, 5, 6]
new list: [1, 2, 3, 4, 5]

### 7. Check if an element exists in a list.

In [2]:
List = [1,2,3,4,5,6]
element = int(input('enter the element:'))

if element in List:
    print('yes, present')
else:
    print('not present')

yes, present

### 8. Find the index of the first occurrence of an element in a list.

In [22]:
list2 = [3,7,5,3,7,5,3,8]
element = int(input('enter the element:'))

for i in list2:
    if i == element:
        print (f'The first occurrence of {element} is at index {list2.index(i)}')
        break
    
#alternative way
#index = list2.index(element)

The first occurrence of 7 is at index 1

### 9. Count the occurrences of an element in a list.

In [23]:
list2 = [3,7,5,3,7,5,3,8]
element = int(input('enter the element:'))
count = 0
for i in list2:
    if i == element:
        count += 1

#alternative way
#count=list2.count(element)

print (f'The total occurrence of {element} is {count}')

The total occurrence of 8 is 1

### 10. Reverse the order of elements in a list.

In [24]:
List = [1,2,3,4,5,6]
reversed_list = List[::-1]
print(reversed_list)

[6, 5, 4, 3, 2, 1]

### 11. Sort a list in ascending order.

In [29]:
list2 = [3,7,5,3,7,5,3,8]
list2.sort()
print(list2)

[3, 3, 3, 5, 5, 7, 7, 8]

### 12. Sort a list in descending order.

In [31]:
list2 = [3,7,5,3,7,5,3,8]
list2.sort(reverse=True)
print(list2)

[8, 7, 7, 5, 5, 3, 3, 3]

### 13. Create a list of even numbers from 1 to 20.

In [34]:
list2 = [i for i in range (2,20,2)]
print(list2)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

### 14. Create a list of odd numbers from 1 to 20.

In [35]:
list2 = [i for i in range (1,20,2)]
print(list2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [38]:
List = [1,2,3,4,5,6]
total=0
for i in List:
    total+=i

#total=sum(List)
print('sum of all digits is :',total)

sum of all digits is : 21

### 16. Find the maximum value in a list.

In [41]:
List = [1,2,3,4,5,6]
max_value = max(List)
print('the maximum value in list is ', max_value)

the maximum value in list is  6

### 17. Find the minimum value in a list.

In [42]:
List = [1,2,3,4,5,6]
min_value = min(List)
print('the minimum value in list is ', min_value)

the minimum value in list is  1

### 18. Create a list of squares of numbers from 1 to 10.

In [44]:
list3=[i**2 for i in range(1,11)]
print(list3)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [2]:
import random

r_int = [random.randint(1,10) for i in range (5)]
print(r_int)

[4, 10, 5, 2, 6]

### 20. Remove duplicates from a list.

In [4]:
list2 = [3,7,5,3,7,5,3,8]

#typecasting to a set , to remove all duplicate unms
unique_nums = set(list2)
#typecasting to a list
unique_list = list(unique_nums)
print(unique_list)

[8, 3, 5, 7]

### 21. Find the common elements between two lists.

In [10]:
list1 = [1,2,3,4,5,8]
list2 = [3,7,5,3,7,5,3,8]
common_elements = []
for i in list1:
    for j in list2:
        if i == j:
            common_elements.append(j)
print(list(set(common_elements)))

[8, 3, 5]

### 22. Find the difference between two lists.

In [22]:
list1 = [1,2,3,4,5,8]
list2 = [3,7,5,3,7,5,3,8]
diff_elements = []
for i in list1:
    if i not in list2 :
            diff_elements.append(i)
print(list(set(diff_elements)))

#alternative
#diff_elements = set(list1).difference(list2)
#print(list(diff_elements))

[1, 2, 4]

### 23. Merge two lists.

In [24]:
list1 = [1,2,3,4,5,8]
list2 = [3,7,5,3,7,5,3,8]

merged_list = list1 + list2

print(merged_list)

[1, 2, 3, 4, 5, 8, 3, 7, 5, 3, 7, 5, 3, 8]

### 24. Multiply all elements in a list by 2.

In [25]:
list1 = [1,2,3,4,5]
new_list = [i*2 for i in list1]
print(new_list)

[2, 4, 6, 8, 10]

### 25. Filter out all even numbers from a list.

In [27]:
list1 = [1,2,3,4,5]
even_list1 = [i for i in list1 if i%2==0]
print(even_list1)

[2, 4]

### 26. Convert a list of strings to a list of integers.

In [28]:
string_list = ['1','2','3']
int_list=[int(i) for i in string_list]
print(int_list)

[1, 2, 3]

### 27. Convert a list of integers to a list of strings.

In [30]:
int_list= [1, 2, 3]
string_list =[str(i) for i in int_list]
print(string_list)

['1', '2', '3']

### 28. Flatten a nested list.

In [31]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattend_list = []
for i in nested_list:
    for j in i:
        flattend_list.append(j)
print(flattend_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 29. Create a list of the first 10 Fibonacci numbers.

In [52]:
def fibonacci_list(n):
    fib_list = [0,1]
    for i in range(2,n):
        fib_list.append(fib_list[i-1] + fib_list[i-2])
    return fib_list

fibonacci_list(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [59]:
def sorted(list1):
    for i in range(1, len(list1)):
        if list1[i] < list1[i-1]:
            return False
    return True

list1 = [1,2,3,4,5]
if sorted(list1):
    print('list is sorted')
else:
    print('list is not sorted')

list is sorted

31. Rotate a list to the left by `n` positions.

In [9]:
def rotate_list_from_n(list1,n):
    new_list=[]
    for i in range(len(list1)-n, len(list1)): 
        new_list.append(list1[i])
    for i in range(len(list1)-n): 
        new_list.append(list1[i])
    return new_list       


list1=[3,6,9,12,15]
n=int(input('enter the position:'))
rotate_list_from_n(list1,n)

[9, 12, 15, 3, 6]

32. Rotate a list to the right by `n` positions.

In [10]:
def rotate_list_from_n(list1,n):
    new_list=[]
    for i in range(len(list1)-n): 
        new_list.append(list1[i])
    for i in range(len(list1)-n, len(list1)): 
        new_list.append(list1[i])
    
    return new_list       


list1=[3,6,9,12,15]
n=int(input('enter the position:'))
rotate_list_from_n(list1,n)

[3, 6, 9, 12, 15]

33. Create a list of prime numbers up to 50.

In [6]:

prime_list=[]
for n in range(1,51):
    #prime numbers start from 2
    if n>1:
        for i in range(2, n):
            if (n%i) == 0:
                break
        else:
            prime_list.append(n)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [10]:
list_1=[2, 3, 5, 7, 11, 13, 17, 23, 29, 31, 37, 41, 43, 47]

def split_into_chunks(list1,n):
    for i in range(0, len(list1), n):
        yield list1[i: i+n]
        
n=4
print(list(split_into_chunks(list_1,n)))

[[2, 3, 5, 7], [11, 13, 17, 23], [29, 31, 37, 41], [43, 47]]

### 35. Find the second largest number in a list.

In [26]:
l=[41,63,35,82,97,32,56,84,44]
#sorting the list in ascending order
l.sort()
#printing the second element from the last
print(f"in the list {l} the second largest element is :{l[-2]}")

in the list [32, 35, 41, 44, 56, 63, 82, 84, 97] the second largest element is :84

### 36. Replace every element in a list with its square.

In [33]:
l=[2,3,6,8]
for i in l:
    l[l.index(i)]=i**2
print (l)

[4, 9, 36, 64]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [3]:
l=['subh','sudh','sid']
names_dict={}
for num,index in enumerate(l):
    names_dict[index]= num

print(names_dict)

{'subh': 0, 'sudh': 1, 'sid': 2}

### 38. Shuffle the elements of a list randomly.

In [5]:
import random
l=[2,3,4,5,6,7]
random.shuffle(l)
print(l)

[7, 3, 5, 4, 2, 6]

### 39. Create a list of the first 10 factorial numbers.

In [8]:
fact_list=[]
fact=1
for i in range(1,11):
    fact=fact*i
    fact_list.append(fact)

print(fact_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [20]:
l1=[1,2,3,4,5,6]
l2=[7,8,9,10]
result1=0
for i in l1:
    for j in l2:
        if i == j:
            result1 += 1
            break
        else:
            result1=0

if result1!= 0:
    print('atleast one element is common')
else:
    print('no element is common')

no element is common

### 41. Remove all elements from a list

In [25]:
l1=[1,2,3,4,5,6]
for i in range(0,len(l1)):
    l1.pop()

print(l1)

[]

### 42. Replace negative numbers in a list with 0

In [53]:
l1=[1,2,-3]
for number in l1:
    if l1[number] <0:
        l1[number]= 0

print(l1)

[1, 2, 0]

### 43. Convert a string into a list of words.

In [4]:
s= 'hello subho here'
l=s.split(' ')
print(l)

['hello', 'subho', 'here']

### 44. Convert a list of words into a string

In [20]:
l=['hello', 'subho', 'here']
s=' '
for i in l:
    s = s+i+' '
print(s)

 hello subho here

### 45. Create a list of the first `n` powers of 2.

In [23]:
n=6
l=[i**2 for i in range(n)]
print(l)

[0, 1, 4, 9, 16, 25]

### 46. Find the longest string in a list of strings

In [63]:
l3=['hello', 'subh', 'here','subhodip','ok']
max_len=0
for word in l3:
    if len(word)>max_len:
        max_len=len(word)
        max_word=word
print(max_word)

subhodip

### 47. Find the shortest string in a list of strings.

In [57]:
l=['hello', 'subh', 'here','subhodip','ok']
shortest_word=min(l,key=len)
print(shortest_word)

ok

### 48. Create a list of the first `n` triangular numbers.

In [8]:
def triangular_num_list(n):
    triangular__list=[]
    a=1
    b=1
    for i in range(1, n+1):
        triangular__list.append(a)
        b+=1
        a+=b
    return triangular__list

n=int(input('Enter the value of n:'))
print(triangular_num_list(n))

[1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [10]:
def is_present(subset, list1):
    subset_index = 0 
    for element in list1:
        if element == subset[subset_index]:
            subset_index += 1
            if subset_index == len(subset):
                return True
    return False

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subset = [3, 5, 8]

if is_present(subset, list1):
    print("yes it contains the subset.")
else:
    print("No it does not contain the subset.")

Main list contains the subsequence.

### 50. Swap two elements in a list by their indices.

In [18]:
my_list = [1,2,3,4,5,6,7,8,9,10]
index1 =1
index2 =8

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print(" after swapping :", my_list)

 after swapping : [1, 9, 3, 4, 5, 6, 7, 8, 2, 10]

## Tuple based practice problem :

### 1. Create a tuple with integers from 1 to 5.

In [20]:
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [24]:
t=(1,2,3,4,5)
print('third element:',t[3])

third element: 4

### 3. Find the length of a tuple without using the `len()` function.

In [26]:
t=(1,2,3,4,5)
count=0
for i in t:
    count+=1
print('length of the touple is :',count )

length of the touple is : 5

### 4. Count the occurrences of an element in a tuple.

In [30]:
t=(1,2,3,4,5,4,3,2,1)
element=int(input('enter the element:'))
count=0
for i in t:
    if i==element:
        count+=1

print(f'the total occurance of {element} is {count}')

the total occurance of 4 is 2

### 5. Find the index of the first occurrence of an element in a tuple.

In [36]:
t=(1,2,3,4,5,4,3,2,1)
element=int(input('enter the element:'))
index=0
for i in t:
    if i==element:
        index=i-1
        break

print(f'first occurrance is at index : {index}')

first occurrance is at index : 0

### 6. Check if an element exists in a tuple.

In [41]:
t=(1,2,3,4,5,4,3,2,1)
element=int(input('enter the element:'))

if element in t:
    print('yes exist')
else:
    print("doesn't exist")

doesn't exist

### 7. Convert a tuple to a list.

In [43]:
t=(1,2,3,4)
l=list(t)
print(t, type(t))
print(l, type(l))

(1, 2, 3, 4) <class 'tuple'>
[1, 2, 3, 4] <class 'list'>

### 8. Convert a list to a tuple.

In [46]:
l={1,2,3,4}
t=tuple(l)
print(l, type(l))
print(t, type(t))

{1, 2, 3, 4} <class 'set'>
(1, 2, 3, 4) <class 'tuple'>

### 9. Unpack the elements of a tuple into variables.

In [47]:
t=(5,6,7)
v1,v2,v3=t
print(v1)
print(v2)
print(v3)

5
6
7

### 10. Create a tuple of even numbers from 1 to 10.

In [51]:
even_tuple=()
even_numbers=[]
for i in range(1,11):
    if i%2==0:
        even_numbers.append(i)

even_tuple=tuple(even_numbers)
print(even_tuple)

(2, 4, 6, 8, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [53]:
odd_tuple=()
odd_numbers=[n for n in range(1,11,2)]
odd_tuple=tuple(odd_numbers)
print(odd_tuple)

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [54]:
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

### 13. Repeat a tuple three times.

In [55]:
t1=(1,2,3)
print(t1*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

### 14. Check if a tuple is empty.

In [68]:
t1=()
if len(t1)==0:
    print('it is empty')
else:
    print('not empty')

it is empty

### 15. Create a nested tuple.

In [63]:
nested_tuple=((1,2,3),('subh','sid'),(2.4,5.9))
print(nested_tuple)

((1, 2, 3), ('subh', 'sid'), (2.4, 5.9))

### 16. Access the first element of a nested tuple.

In [66]:
nested_tuple=((1,2,3),('subh','sid'),(2.4,5.9))
print(nested_tuple[0])

(1, 2, 3)

### 17. Create a tuple with a single element.

In [69]:
t=(1,)
print(t)

(1,)

### 18. Compare two tuples.

In [74]:
t1=(1,2,3)
t2=(4,5,6)
print(f't1==t2 : {t1==t2}')
print(f't1!=t2 : {t1!=t2}')
print(f't1>t2 : {t>t2}')
print(f't1>=t2 : {t1>=t2}')
print(f't1<t2 : {t1<t2}')
print(f't1<=t2 : {t1<=t2}')

t1==t2 : False
t1!=t2 : True
t1>t2 : False
t1>=t2 : False
t1<t2 : True
t1<=t2 : True

### 19. Delete a tuple.

In [1]:
t=(1,2,3)
del t
try:
    print(t)
except Exception as e:
    print(e)

name 't' is not defined

### 20. Slice a tuple.

In [77]:
t=(1,2,3,4,5)
t1=t[3:5]
print(t1)

(4, 5)

### 21. Find the maximum value in a tuple.

In [79]:
t=(1,2,3,4,5)
max_val=max(t)
print(max_val)

5

### 22. Find the minimum value in a tuple.

In [1]:
t=(1,2,3,4,5)
min_val=min(t)
print(f'mimimum value: {min_val}')

mimimum value: 1

### 23. Convert a string to a tuple of characters.

In [3]:
s='subh'
t=tuple(s)
print(t)

('s', 'u', 'b', 'h')

### 24. Convert a tuple of characters to a string.

In [7]:
t=('s', 'u', 'b', 'h')
s=''.join(t)
print(s)

subh

### 25. Create a tuple from multiple data types.

In [8]:
t=(1,2,True,"subh",4.5)
print(t)

(1, 2, True, 'subh', 4.5)

### 26. Check if two tuples are identical.

In [10]:
t1=(1,2,3)
t2=(1,2,3)
t3=(1,2,4)

is_identical1= t1==t2
is_identical2= t2==t3

print(f't1 and t2 are identical: {is_identical1}')
print(f't2 and t3 are identical: {is_identical2}')

t1 and t2 are identical: True
t2 and t3 are identical: False

### 27. Sort the elements of a tuple.

In [13]:
t=(1,5,4,7,2)
l=list(t)
sorted_list=sorted(l)
print(f'sorted tuple : {tuple(sorted_list)}')

sorted tuple : (1, 2, 4, 5, 7)

### 28. Convert a tuple of integers to a tuple of strings.

In [14]:
t_int=(1,2,3,4)
t_str=tuple(str(i) for i in t_int)
print(t_str)

('1', '2', '3', '4')

### 29. Convert a tuple of strings to a tuple of integers.

In [16]:
t_str=('1', '2', '3', '4')
t_int= tuple(int(i) for i in t_str)
print(t_int)

(1, 2, 3, 4)

### 30. Merge two tuples.

In [18]:
t1=(1,2,3)
t2=(4,5,6)
merged_tuple= t1+t2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

### 31. Flatten a nested tuple.

In [23]:
nested_tuple=((1,2),(3,4,5),(6,7),8)

def flattend_tuple(f_tuple):
    flattend_list=[]
    for i in f_tuple:
        if isinstance(i, tuple):
            flattend_list.extend(flattend_tuple(i))
        else:
            flattend_list.append(i)
    return tuple(flattend_list)
    
flat_tuple=flattend_tuple(nested_tuple)
print(flat_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

### 32. Create a tuple of the first 5 prime numbers.

In [24]:
def check_prime(num):
    if num==0 or num==1:
        return False
    for i in range(2,num):
        if num%i==0:
            return False
    return True

prime_list=[ i for i in range(2,50) if check_prime(i)][:5]
prime_tuple= tuple(prime_list)
print(prime_tuple)

(2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [26]:
tuple=(1,2,3,2,1,)
reverse_tuple= tuple[::-1]

if tuple==reverse_tuple:
    print('yes,palindrome')
else:
    print('no, not palindrome')

no, not palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [2]:
square_tuple= tuple(i**2 for i in range(1,6))
print(square_tuple)

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [3]:
t=(1,2,3,4,5,6,7)
even_tuple= tuple(i for i in t if i%2==0)
print(even_tuple)

(2, 4, 6)

### 36. Multiply all elements in a tuple by 2.

In [4]:
t=(1,2,3)
mul_tuple= tuple(i*2 for i in t)
print(mul_tuple)

(2, 4, 6)

### 37. Create a tuple of random numbers.

In [5]:
import random
random_tuple= tuple(random.randint(1,50) for _ in range(5))
print(random_tuple)

(29, 17, 21, 27, 6)

### 38. Check if a tuple is sorted.

In [7]:
def is_sorted(t):
    for i in range(len(t)-1):
        if t[i]>t[i+1]:
            return False
    return True
    
t1=(1,2,3)
t2=(4,7,5)
print(f'tuple1 : {is_sorted(t1)}')
print(f'tuple2 : {is_sorted(t2)}')

tuple1 : True
tuple2 : False

### 39. Rotate a tuple to the left by `n` positions.

In [9]:
def rotate_tuple_left(t,n):
    #t[n:] - elements from n, t[:n] elements before n
    rotated_tuple= t[n:]+ t[:n]
    return rotated_tuple

t=(1,2,3,4,5,6,7,8)
n=int(input('enter the index: '))
rotate_tuple_left(t,n)

(7, 8, 1, 2, 3, 4, 5, 6)

### 40. Rotate a tuple to the right by `n` positions.

In [11]:
def rotate_tuple_right(t,n):
    rotated_tuple=t[-n:]+ t[:-n]
    return rotated_tuple

t=(1,2,3,4,5)
n=int(input('enter the index: '))
rotate_tuple_right(t,n)

(4, 5, 1, 2, 3)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [1]:
def fib(n):
    fib_list=[0,1]
    while len(fib_list)<n:
        next_num=fib_list[-1]+fib_list[-2]
        fib_list.append(next_num)
    return fib_list

fib_tuple= tuple(fib(5))
print(fib_tuple)

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [3]:
n=int(input('enter the length of tuple:'))
input_list=[]
for i in range(1,n+1):
    input_ele=input('enter elements: ')
    input_list.append(input_ele)

print(tuple(input_list))

('s', 'd', 'f', 'g')

### 43. Swap two elements in a tuple.

In [7]:
t=(1,2,3)
l=list(t)
temp=l[0]
l[0]=l[2]
l[2]=temp
print(tuple(l))

(3, 2, 1)

### 44. Reverse the elements of a tuple.

In [8]:
t=(1,2,3,4)
reverse_t = t[::-1]
print(reverse_t)

(4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2.

In [10]:
n=int(input('enter value of n:'))
l=[i**2 for i in range(1,n+1)]
print(tuple(l))

(1, 4, 9, 16, 25)

### 46. Find the longest string in a tuple of strings.

In [11]:
t=('subh','sudh','sid','krishna')
longest_str= max(t, key=len)
print(longest_str)

krishna

### 47. Find the shortest string in a tuple of strings.

In [12]:
t=('subh','sudh','sid','krishna')
shortest_str= min(t,key=len)
print(shortest_str)

sid

### 48. Create a tuple of the first `n` triangular numbers.

In [19]:
n=int(input('enter value of n:'))
l=[]
j=1
k=1
for i in range(n):
    num=k
    j=j+1
    k=k+j
    l.append(num)

print(l)

[1, 3, 6, 10, 15, 21]

### 49. Check if a tuple contains another tuple as a subsequence.

In [28]:
main_tuple=(1,2,3,4,5)
sub_tuple1=(2,3,4)
sub_tuple2=(2,3,7)


result1= set(sub_tuple1).issubset(main_tuple)
result2= set(sub_tuple2).issubset(main_tuple)

print('main_tuple contains sub_tuple1:',result1)
print('main_tuple contains sub_tuple2:',result2)

main_tuple contains sub_tuple1: True
main_tuple contains sub_tuple2: False

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [29]:
n=int(input('enter value of n:'))
t=tuple(i%2 for i in range(n))
print(t)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set based problems:

### 1. Create a set with integers from 1 to 5

In [36]:
s=set()
for i in range(1,6):
    s.add(i)
print(s)

{1, 2, 3, 4, 5}

### 2. Add an element to a set

In [37]:
s={1, 2, 3, 4, 5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [38]:
s={1, 2, 3, 4, 5}
s.remove(5)
print(s)

{1, 2, 3, 4}

### 4. Check if an element exists in a set.

In [41]:
s={1, 2, 3, 4, 5}
n=int(input('enter the element:'))
if n in s:
    print('exists')
else:
    print('doesnt exist')

doesnt exist

### 5. Find the length of a set without using the `len()` function

In [42]:
s={1, 2, 3, 4, 5}
count=0
for i in s:
    count+=1
print(count)

5

### 6. Clear all elements from a set.

In [43]:
s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

### 7. Create a set of even numbers from 1 to 10

In [44]:
s=set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
print(s)

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10

In [45]:
s=set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print(s)

{1, 3, 5, 7, 9}

### 9. Find the union of two sets

In [46]:
s1={2, 4, 6, 8, 10}
s2={1, 3, 5, 7, 9}
union_set=s1.union(s2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 10. Find the intersection of two sets

In [48]:
s1={2, 4, 6, 8, 10}
s2={1, 3, 5, 7, 9, 10}
i_set= s1.intersection(s2)
print(i_set)

{10}

### 11. Find the difference between two sets.

In [49]:
s1={2, 4, 6, 8, 10}
s2={1, 3, 5, 7, 9, 10}
d_set= s1.difference(s2)
print(d_set)

{8, 2, 4, 6}

### 12. Check if a set is a subset of another set.

In [54]:
s1={1,2,3,4,5}
s2={2,3}
is_sub= s2.issubset(s1)
print('s2 is a sub set of s1:',is_sub)

s2 is a sub set of s1: True

### 13. Check if a set is a superset of another set.

In [53]:
s1={1,2,3,4,5}
s2={2,3}
is_sup= s1.issuperset(s2)
print('s1 is a super set of s2:',is_sup)

s1 is a super set of s2: True

### 14. Create a set from a list

In [55]:
l=[1,2,3]
s=set(l)
print(s)

{1, 2, 3}

### 15. Convert a set to a list.

In [56]:
s={1,2,3}
l=list(s)
print(l)

[1, 2, 3]

### 16. Remove a random element from a set.

In [60]:
import random
s={1,2,3}
element=random.choice(list(s))
s.remove(element)
print(s)

{1, 2}

### 17. Pop an element from a set.

In [62]:
s={1,2,3}
s.pop()
print(s)

{2, 3}

### 18. Check if two sets have no elements in common.

In [66]:
s1={1,2,3}
s2={3,4,5}

result=s1.intersection(s2)
if not result:
    print('no common elements')
else:
    print('have common elements')

have common elements

### 19. Find the symmetric difference between two sets.

In [67]:
s1={1,2,3}
s2={3,4,5}

sym_diff= s1^s2
print(sym_diff)

{1, 2, 4, 5}

### 20. Update a set with elements from another set.

In [68]:
s1={1,2,3}
s2={3,4,5}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5}

### 21. Create a set of the first 5 prime numbers.

In [7]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True

s=set([i for i in range(2,40) if is_prime(i)][:5])
print(s)

{2, 3, 5, 7, 11}

### 22. Check if two sets are identical.

In [8]:
s1={1,2,3,4,5}
s2={2,1,3,5,4}
if s1==s2:
    print('identical')
else:
    print('not identical')

identical

### 23. Create a frozen set

In [9]:
s={1,2,3,4}
f_s= frozenset(s)
print(f_s)

frozenset({1, 2, 3, 4})

### 24. Check if a set is disjoint with another set.

In [10]:
s1={1,2,3,4}
s2={5,6,7,8}
is_disjoint = s1.isdisjoint(s2)
print(is_disjoint)

True

### 25. Create a set of squares of numbers from 1 to 5.

In [12]:
s=set({i**2 for i in range(1,6)})
print(s)

{16, 1, 4, 9, 25}

### 26. Filter out all even numbers from a set.

In [13]:
s={1,2,3,4,5,6,7,8}
even_set=set()
for i in s:
    if i%2==0:
        even_set.add(i)

print(even_set)

{8, 2, 4, 6}

### 27. Multiply all elements in a set by 2.

In [14]:
s={1,2,3,4}
new_s=set()
for i in s:
    new_s.add(i*2)

print(new_s)

{8, 2, 4, 6}

### 28. Create a set of random numbers.

In [17]:
import random
s = set()
for i in range(10):
    s.add(random.randint(1,50))

print(s)

{2, 3, 37, 38, 42, 12, 46, 21, 23}

### 29. Check if a set is empty.

In [23]:
s=set()
if not s:
    print('empty')
else:
    print('not empty')

empty

### 30. Create a nested set (hint: use frozenset).

In [24]:
s1={1,2,3}
s2={4,5,6}
f1= frozenset(s1)
f2= frozenset(s2)
nested_set= {f1,f2}
print(nested_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

### 31.  Remove an element from a set using the discard method.

In [25]:
s1={1,2,3}
s1.discard(3)
print(s1)

{1, 2}

### 32. Compare two sets.

In [29]:
s1={1,2,3,8}
s2={4,5,6,8}

print('s1:',s1)
print('s2:',s2)

print('s1 is a subset of s2? : ',s1.issubset(s2))
print('s2 is a subset of s1? : ',s2.issubset(s1))

print('s1 is a superset of s2? : ',s1.issuperset(s2))
print('s2 is a superset of s1? : ',s2.issuperset(s1))

print('intersection : ',s1.intersection(s2))
print('union : ', s1.union(s2))

print('difference of s1 from s2 : ',s1.difference(s2))
print('difference of s2 from s1 : ',s2.difference(s1))

s1: {8, 1, 2, 3}
s2: {8, 4, 5, 6}
s1 is a subset of s2? :  False
s2 is a subset of s1? :  False
s1 is a superset of s2? :  False
s2 is a superset of s1? :  False
intersection :  {8}
union :  {1, 2, 3, 4, 5, 6, 8}
difference of s1 from s2 :  {1, 2, 3}
difference of s2 from s1 :  {4, 5, 6}

### 33. Create a set from a string.

In [30]:
string='subh'
s=set(string)
print(s)

{'u', 'h', 'b', 's'}

### 34. Convert a set of strings to a set of integers.

In [31]:
s_string={'12','34','56'}
s_int=set()

for i in s_string:
    s_int.add(int(i))

print(s_int)

{56, 34, 12}

### 35. Convert a set of integers to a set of strings.

In [33]:
s_int={12,36,54}
s_string=set()

for i in s_int:
    s_string.add(str(i))

print(s_string)

{'54', '36', '12'}

### 36. Create a set from a tuple.

In [35]:
t=(1,2,3)
s=set(t)
print(s)

{1, 2, 3}

### 37. Convert a set to a tuple.

In [36]:
s={1,2,3}
t=tuple(s)
print(t)

(1, 2, 3)

### 38. Find the maximum value in a set.

In [37]:
s={1,2,3}
max_val=max(s)
print(max_val)

3

### 39. Find the minimum value in a set.

In [38]:
s={1,2,3}
min_val=min(s)
print(min_val)

1

### 40. Create a set from user input.

In [41]:
s=set()
n=3
element=0
for i in range(n):
    element=int(input('enter an element : '))
    s.add(element)

print(s)

{1, 2, 3}

### 41. Check if the intersection of two sets is empty.

In [44]:
s1={1,2,3}
s2={4,5,6}

intersection_set= s1.intersection(s2)

if not intersection_set:
    print('empty')
else:
    print('not empty')

empty

### 42. Create a set of the first 5 Fibonacci numbers.

In [3]:
def fib(n):
    fib_list=[0,1]
    while len(fib_list)<5:
        next_num= fib_list[-1] + fib_list[-2]
        fib_list.append(next_num)
    return set(fib_list)
fib_set=fib(5)
print(fib_set)

{0, 1, 2, 3}

### 43. Remove duplicates from a list using sets.

In [6]:
l=[1,2,3,4,2,3,4,6]
s=set(l)
new_l=list(s)
print(new_l)

[1, 2, 3, 4, 6]

### 44. Check if two sets have the same elements, regardless of their count.

In [8]:
s1={1,2,3}
s2={1,3,2,3,1}

if s1==s2:
    print('yes, have same elements')
else:
    print('no, dont have same elements')

yes, have same elements

### 45. Create a set of the first `n` powers of 2

In [20]:
n=int(input('enter value of n:'))
s1=set([i**2 for i in range(1,n+1)])
print(s1)

{1, 4, 9, 16, 25}

### 46. Find the common elements between a set and a list.

In [18]:
s1={1,2,3,5}
l=[1,2,5,6]

s2=set(l)

common_elements=s1.intersection(s2)
print(common_elements)

{1, 2, 5}

### 47. Create a set of the first `n` triangular numbers.:

In [23]:
n=int(input('enter value of n:'))
s1=set()
j=1
k=1
for i in range(1,n+1):
    i=j
    s1.add(i)
    k+=1
    j=j+k
    
print(s1)

{1, 3, 6, 10, 15}

### 48. Check if a set contains another set as a subset.

In [26]:
s1={1,2,3,4,5,6}
s2={1,2,3}

result=s2.issubset(s1)
print(result)

True

### 49. Create a set of alternating 1s and 0s of length `n`.

In [28]:
n=int(input('enter value of n:'))
s=set()
for i in range(n):
    num=i%2
    s.add(num)

print(s)

{0, 1}

### 50. Merge multiple sets into one.

In [32]:
s1={1,2,3}
s2={3,4,5}
s3={5,6,7}

merged_set=s1.union(s2,s3)
print(merged_set)

{1, 2, 3, 4, 5, 6, 7}